@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.toolbar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  margin-bottom: 1.5rem;

  @include tablet-up {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
}

.icon {
  width: 20px;
  height: 20px;
}

.controlsWrapper {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  align-self: flex-end;

  @include tablet-up {
    align-self: auto;
  }
}
