@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding: 0 1rem;

  @include tablet-up {
    padding: 0 2rem;
  }
}
